@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff004f;
    --secondary-color:  #950740;
    --accent-color: #6F2232;
    --accent-color-dark: #4E4E50;
    --bg-color: #1A1A1D;
    --bg-color-light: #rgba(0, 0, 0, 0.1);
    --padding-inline-section: 20px;
}

body {
    font-family: 'Popins',sans-serif;
    color: #f1f1f1;
    background-color: var(--bg-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    line-height: 1.8rem;
}

a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

ul{
    list-style: none;
}

.hover-link{
    color: #f1f1f1ff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.2s ease-out;
}

.hover-link:hover{
    color: var(--primary-color);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translateY(-6px);
    font-size: 22px;
}

/* i{
    font-size: 100px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

/* -----------Utility Class------------ */

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}

.sub-heading{
    text-align: center;
    margin-block: 30px;
    font-family: 'PlayFair';
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.primary-btn{
    background: var(--primary-color);
    margin: 30px 0; 
    padding: 12px 24px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    color: #f1f1f1;
    box-shadow: 0px 0px 2px var(--accent-color);
    transition: background 0.2s;
}

.primary-btn:hover{
    background: none;
    color: var(--primary-color);
}

.secondary-btn{
    background: none;
    margin: 30px 0; 
    padding: 12px 24px;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: 500; */
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    color: #f1f1f1;
    box-shadow: 0px 0px 2px var(--accent-color);
    transition: background 0.2s;
}

.secondary-btn:hover{
    background: var(--primary-color);
}

/* ----------Navigation Bar------------ */

nav{
    background-color: rgba(0, 0, 0, 0.1);
}

.main-nav{
    justify-content: space-between;
    /* background-color: #000; */
    position: relative;
}

.logo{
    padding-right: 20px;
}

.logo-back{
    text-align: center;
    color: var(--primary-color);
    font-size: 50px;
    background-color: transparent;
}

.logo-front{
    text-align: center;
    color: #fff;
    font-size: 50px;
    background-color: transparent;
}

.nav-link{
    flex-basis: 730px;
}

.nav-link ul{
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.nav-toggle{
    display: none;
}

/* -------- Search-Bar --------- */

.sb-container{
    padding: var(--padding-inline-section);
    justify-content: center;
    align-items: center;
}

.search-bar{
    background: transparent;
    width: 100%;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 60px;
    padding: 5px 10px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    outline: none;
    border: 0;
    font-size: 20px;
    padding: 5px 10px;
    color: #f1f1f1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: var(--primary-color);
    cursor: pointer;
    color: #f1f1f1;
}

::placeholder{
    color: rgba(241, 241, 241,0.5);
    font-size: 20px;
}

/* ------------- Header-Section -------------- */

header{
    padding: 50px var(--padding-inline-section) 0px;
}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}

.header-left h1{
    font-family: 'Exo 2', sans-serif;
}

.header-left h2{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 10px;
}

.header-left span{
    color: #ff004f;
}
.header-left p{
    padding-block: 50px;
}
.header-right img{
    width: 100%;
}

/* --------------------- Popular Courses-Section ------------------------- */

.courses{
    padding: 80px var(--padding-inline-section) 0;
}

.courses-header{
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 40px;
}

.courses-header h2 i{
    color: var(--primary-color);
}

.courses-card img{
    max-width: 80%;
    margin-block: 20px;
}

.courses-card{
    flex-direction: column;
    gap: 20px;
    text-align: center;
    max-width: 30%;
}

.courses-area{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 40px;
}

.courses-card div{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s, transform 0.5s;
}

.courses-card div:hover{
    transform: translateY(-20px);
    box-shadow: 0 1px 5px var(--primary-color);
}

.courses-card div:hover .secondary-btn i{
    animation: blink 1s infinite linear;
}

@keyframes blink {
    100%{
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
}

/* ------------------- Trainer Section ------------------------ */

.trainer{
    padding: 80px var(--padding-inline-section) 0;
}

.trainer-header{
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 40px;
}

.trainer-header h2 i{
    color: var(--primary-color);
}

.trainer-area{
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.trainer-card img{
    position: absolute;
    width: 262px;
    height: 315px;
}

.trainer-card{
    position: relative;
    width: 23%;
    min-height: 300px;
    background: #000;
    border-radius: 6px;
    /* background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.8)), url(https://pyxis.nymag.com/v1/imgs/a85/912/a5ef47190c966169cf6e9c6da815b0f0ad-07-john-wick-2-2.rsquare.w700.jpg); */
    background-size: cover;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.trainer-card:hover{
    transform: translateY(-10px);
}

.trainer-text{
    position: absolute;
    text-align: center;
    color: #f1f1f1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.8);
    bottom: 20px;
    /* left: 20px; */
    /* right: 20px; */
}

.trainer-text i{
    color: goldenrod;
}

.trainer-text,h2,h5{
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.8);
} 

.center-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
